.sidebar {
    position: relative;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background-color: rgba(0, 0, 0, .55);
    width: 8.33333333%;
}